.judul {
	text-align: center;
	font-family: sans-serif;
}
.bmi {
	margin: 100px auto;
	width: 30%;
	padding: 10px;
	border: 1px solid #ccc;
	background: rgb(156, 155, 155);
	border-radius: 10px;
}
.label {
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
}
.input{
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
	border:1px solid;
}

.btn {
	height: 40px;
	background-color: #148178;
	border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
	
}